[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Assets/fonts/*.asset

Assets/fonts/YU.asset
Assets/fonts/KleeOne-Regular SDF.asset
Assets/fonts/NotoSerifJP-Bold SDF.asset
Assets/fonts/NotoSansJP-Medium SDF.asset
# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.tmp

# OS
.DS_Store
Thumbs.db

